<%if !@users.nil?%>
<% @users.each do |user| %>
<li>
     <div class="profile-pic">
          <%=image_tag "profile-pic.jpg"%>
     </div>
     <div class="profile-name">
          <h3><%=link_to user.fullname %></h3>
          <p><%= user.email %></p>
     </div>
     <div class="profile-follow"></div>
     <div class="fix"></div><!-- prevent sliding -->
</li>
<% end %>
<%end%>
         
     <!--
          followlink(user)
          mergelink(user)
     -->