<section id="main">
			<div id="main-padding">
				<div id="main-header">
					<div id="main-header-left">
						<p>Create Event</p>
					</div>
					<div id="main-header-center">
						<p><a href="#" id="previousA"><span id="previousWeek"></span><span class="weekBeginMonth"></span></a>  - <a href="#" id="nextA"><span class="weekEndMonth"></span><span id="nextWeek"></span></a></p>
					</div>
					<div id="main-header-right">
						<p>Icons</p>
					</div>
				</div><!-- main header end -->
				<!--<div id="calendar"></div>-->
				<div id="calendar-scroll-left">
					<div class="scroll-padding">
					<div class="slide-box"></div>
					</div>
				</div>
				<div id="calendar2">
					<div id="cal-times">
						<div id="cal-times-spacer"></div>
						<div class="cal-times-crop">
						<table id="times" cellpadding="0" cellspacing="0" border="0">
						</table>
						</div>
					</div><!-- cal times end -->
					
					<div id="cal-days">
						<div class="days-header">
						<table id="days-header">
							<thead>
								<tr>
								</tr>
							</thead>
						</table>
						</div><!-- days header end -->
						<div class="days-crop">
						<div class="days">
						<table>
						<!--<div class="box">
							<div class="box-padding">
								<div class="box-content">
								<p><span class="eventStartTime"></span>-<span class="eventEndTime"></span></p>
								<h3></h3>
								</div>
							</div>
						</div>-->
						<!-- buildrows(); -->	
						</table>
						</div>
						</div><!-- days crop end -->
				</div>
			</div><!-- calendar 2 end -->
			<div id="calendar-scroll-right">
				<div class="scroll-padding">
				<div class="slide-box"></div>
				</div>
			</div>
			<div class="fix"></div>
			</div><!--main padding end -->
</section>
<section id="events">
  <% @events.each do |e|%>
    <%=link_to e.name, e%>
    <%=e.start%>
    <%= link_to 'Edit', edit_event_path(e) %>
    <%= link_to 'X', e, method: :delete, data: { confirm: 'Are you sure?' } %>
    <br />
  <%end%>
</section>