  
    <div class="search">
          <form>
            <input type="text" name="userinput" id="userinputid" value="Find Friends" />
            <div id="notice"></div>
            <input type="submit" id="userbtn_submit" value="search"/>
          </form>
    </div><!--search end-->
    <div class="friends">
    <h2><span class="ui-icon"></span><a href="#" id="friends-btn">Friends</a></h2>
      <%= render 'users/userlist'%>
    </div><!-- friends end --> 
    <div class="groups">
	<h2><span class="ui-icon"></span><a href="#" id="groups-btn">Groups</a></h2>
    </div>